dsmXsdFiles/strategy.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="config" type="configType"/>
  <xs:complexType name="taskType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:int" name="taskid"/>
        <xs:attribute type="xs:string" name="taskname"/>
        <xs:attribute type="xs:string" name="ver"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="configType">
    <xs:sequence>
      <xs:element type="taskType" name="task"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>